In [1]:
#installed with pip
from pandas import pandas as pd

# built-in libraries
import csv
import datetime

In [2]:
cols = ["casenum", "statute", "race", "gender", "total_owed", "total_dismissed", "net_amt",
    "total_due", "mandatory", "discretionary"]

df = pd.read_excel("Book4.xlsx",
                    usecols=[0, 1, 11, 12, 13, 15, 16, 17, 18, 19],
                    names=cols,
                    encoding="ISO-8859-1")

In [3]:
df = df.drop_duplicates(subset=['casenum'])

In [4]:
df_black = df[df.race == 'B']
df_white = df[df.race == "W"]
df_hispanic = df[df.gender == "H"]
df_male = df[df.gender == "M"]
df_female = df[df.gender == "F"]

In [5]:
df_new = pd.DataFrame({
    "all felons" : [df.total_owed.min(), df.total_owed.max(), df.total_owed.mean(), df.total_owed.median(),
                   df.total_dismissed.min(), df.total_dismissed.max(), df.total_dismissed.mean(), df.total_dismissed.median(),
                   df.net_amt.min(), df.net_amt.max(), df.net_amt.mean(), df.net_amt.median(),
                   df.mandatory.min(), df.mandatory.max(), df.mandatory.mean(), df.mandatory.median(),
                   df.discretionary.min(), df.discretionary.max(), df.discretionary.mean(), df.discretionary.median()],
    "black felons" : [df_black.total_owed.min(), df_black.total_owed.max(), df_black.total_owed.mean(), df_black.total_owed.median(),
                      df_black.total_dismissed.min(), df_black.total_dismissed.max(), df_black.total_dismissed.mean(), df_black.total_dismissed.median(),
                      df_black.net_amt.min(), df_black.net_amt.max(), df_black.net_amt.mean(), df_black.net_amt.median(),
                      df_black.mandatory.min(), df_black.mandatory.max(), df_black.mandatory.mean(), df_black.mandatory.median(),
                      df_black.discretionary.min(), df_black.discretionary.max(), df_black.discretionary.mean(), df_black.discretionary.median()],
    "white felons" : [df_white.total_owed.min(), df_white.total_owed.max(), df_white.total_owed.mean(), df_white.total_owed.median(),
                  df_white.total_dismissed.min(), df_white.total_dismissed.max(), df_white.total_dismissed.mean(), df_white.total_dismissed.median(),
                  df_white.net_amt.min(), df_white.net_amt.max(), df_white.net_amt.mean(), df_white.net_amt.median(),
                  df_white.mandatory.min(), df_white.mandatory.max(), df_white.mandatory.mean(), df_white.mandatory.median(),
                  df_white.discretionary.min(), df_white.discretionary.max(), df_white.discretionary.mean(), df_white.discretionary.median()],
    "hispanic felons" : [df_hispanic.total_owed.min(), df_hispanic.total_owed.max(), df_hispanic.total_owed.mean(), df_hispanic.total_owed.median(),
                df_hispanic.total_dismissed.min(), df_hispanic.total_dismissed.max(), df_hispanic.total_dismissed.mean(), df_hispanic.total_dismissed.median(),
                df_hispanic.net_amt.min(), df_hispanic.net_amt.max(), df_hispanic.net_amt.mean(), df_hispanic.net_amt.median(),
                df_hispanic.mandatory.min(), df_hispanic.mandatory.max(), df_hispanic.mandatory.mean(), df_hispanic.mandatory.median(),
                df_hispanic.discretionary.min(), df_hispanic.discretionary.max(), df_hispanic.discretionary.mean(), df_hispanic.discretionary.median()],
    "male felons" : [df_male.total_owed.min(), df_male.total_owed.max(), df_male.total_owed.mean(), df_male.total_owed.median(),
                df_male.total_dismissed.min(), df_male.total_dismissed.max(), df_male.total_dismissed.mean(), df_male.total_dismissed.median(),
                df_male.net_amt.min(), df_male.net_amt.max(), df_male.net_amt.mean(), df_male.net_amt.median(),
                df_male.mandatory.min(), df_male.mandatory.max(), df_male.mandatory.mean(), df_male.mandatory.median(),
                df_male.discretionary.min(), df_male.discretionary.max(), df_male.discretionary.mean(), df_male.discretionary.median()],
    "female felons" : [df_female.total_owed.min(), df_female.total_owed.max(), df_female.total_owed.mean(), df_female.total_owed.median(),
                df_female.total_dismissed.min(), df_female.total_dismissed.max(), df_female.total_dismissed.mean(), df_female.total_dismissed.median(),
                df_female.net_amt.min(), df_female.net_amt.max(), df_female.net_amt.mean(), df_female.net_amt.median(),
                df_female.mandatory.min(), df_female.mandatory.max(), df_female.mandatory.mean(), df_female.mandatory.median(),
                df_female.discretionary.min(), df_female.discretionary.max(), df_female.discretionary.mean(), df_female.discretionary.median()]},
    ['min owed', 'max owed', 'mean owed', 'median owed', 'min dismissed', 'max dismissed', 'mean dismissed', 'median_dismissed',
    'min net', 'max net', 'mean net', 'median net', 'min mandatory', 'max mandatory', 'mean mandatory', 'median madatory',
    'min discretionary', 'max discretionary', 'mean discretionary', 'median discretionary'])

In [6]:
df_new

,all felons,black felons,white felons,hispanic felons,male felons,female felons
min owed,50.000000,50.000000,50.000000,NaN,50.000000,326.000000
max owed,420771.000000,420771.000000,60801.000000,NaN,420771.000000,23410.520000
mean owed,1530.395745,1738.182414,1199.241228,NaN,1641.224349,1025.328791
median owed,721.000000,721.000000,696.000000,NaN,721.000000,696.000000
min dismissed,0.000000,0.000000,0.000000,NaN,0.000000,0.000000
max dismissed,52500.000000,52500.000000,28497.000000,NaN,52500.000000,3651.000000
mean dismissed,54.726819,59.791152,46.464175,NaN,58.442011,37.795980
median_dismissed,0.000000,0.000000,0.000000,NaN,0.000000,0.000000
min net,0.000000,0.000000,0.000000,NaN,0.000000,0.000000
max net,368271.000000,368271.000000,55106.000000,NaN,368271.000000,23360.520000
mean net,1475.668927,1678.391262,1152.777053,NaN,1582.782338,987.532810
median net,694.000000,694.000000,686.000000,NaN,694.000000,686.000000
min mandatory,50.000000,50.000000,50.000000,NaN,50.000000,326.000000
max mandatory,420771.000000,420771.000000,55106.000000,NaN,420771.000000,6179.000000
mean mandatory,1359.352590,1524.065636,1096.796508,NaN,1456.177293,918.104069
median madatory,703.000000,711.000000,696.000000,NaN,709.000000,694.000000
min discretionary,0.000000,0.000000,0.000000,NaN,0.000000,2000.000000
max discretionary,200931.040000,200931.040000,59997.000000,NaN,200931.040000,22686.520000
mean discretionary,18488.056000,21610.515000,12243.138000,NaN,19854.206400,11657.304000
median discretionary,10006.545000,10506.545000,3500.000000,NaN,10000.000000,11000.000000

In [8]:
felon_csv = df_new.to_csv(r'analysis.csv', header=True)