In [1]:
#installed with pip
from pandas import pandas as pd
#from bs4 import BeautifulSoup
#from urllib.request import urlopen
#from email.message import EmailMessage

# built-in libraries
import csv
import datetime
#import os.path
import re
#import smtplib
#import sqlite3

In [2]:
cols = ["casenum", "statute", "race", "gender", "total_owed", "total_dismissed",
    "total_due", "mandatory", "discretionary"]

df = pd.read_excel("Book3.xlsx",
                    usecols=[0, 1, 11, 12, 13, 15, 16, 17, 18],
                    names=cols,
                    encoding="ISO-8859-1")

In [8]:
df = df.drop_duplicates(subset=['casenum'])
df.head(15)

,casenum,statute,race,gender,total_owed,total_dismissed,total_due,mandatory,discretionary
0,2005 CF 004561 A,316.193(2)(B),W,M,2961.0,0.0,2961.00,2961.0,NaN
3,2007 CF 002329 B,810.02(4)(A),W,M,671.0,0.0,671.00,671.0,NaN
4,2007 CF 002331 B,810.02(4),W,M,621.0,0.0,621.00,621.0,NaN
5,2008 CF 004126 A,322.34(2)(A),B,M,501.0,0.0,417.25,501.0,NaN
8,2010 CF 004584 A,831.09,W,F,721.0,100.0,621.00,721.0,NaN
9,2010 CF 004680 A,831.09,W,F,721.0,100.0,621.00,721.0,NaN
10,2011 CF 002621 A,812.014(2)(C)(1),W,F,621.0,0.0,621.00,621.0,NaN
12,2011 CF 005126 A,812.014(2)(C)(1),W,M,671.0,0.0,671.00,671.0,NaN
14,2012 CF 004044 A,810.02(3)(B),B,M,771.0,100.0,671.00,771.0,NaN
16,2012 CF 004488 A,843.02,B,M,1242.0,621.0,621.00,1242.0,NaN
19,2013 CF 000273 A,810.02(4)(A),B,M,921.0,0.0,921.00,921.0,NaN
22,2013 CF 000476 A,316.193(1),B,M,2176.0,0.0,2122.77,2176.0,NaN
24,2013 CF 001086 A,784.07(2)(A),W,M,973.0,0.0,973.00,973.0,NaN
26,2013 CF 001093 A,784.07(2)(B),W,M,973.0,0.0,973.00,973.0,NaN
27,2013 CF 002243 A,893.13(6)(A),B,M,686.0,0.0,686.00,686.0,NaN